body {
    background-color: antiquewhite;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

.Main {
    border: 2px black solid;
    border-radius: 7px;
    border-color: black;
    padding: 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.path {
    border: 1px solid black;
    transform: rotate(90deg);
}

.box {
    justify-content: center;
}

.one-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.path {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, p{
    text-align: center;
}

.btn {
    padding-top: 30px;
    background-color: black;
    color: white;
    padding: 18px;
    border-radius: 6px;
    border: 0px black solid;
    font-size: 17px;
    cursor: pointer;
    border-width: 3px;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-width: 3px;
}

}