body {
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

.Main {
    border: 2px black solid;
    border-radius: 7px;
    border-color: black;
    padding: 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.path {
    border: 1px solid black;
    transform: rotate(90deg);
    position: fixed;
    top: 30px;
    right: 98px;
    /* bottom: 34px; */
    left: -100px;
}

.ideapath {
    border: 1px rgb(0, 0, 0) solid;
    padding: 0px;
}

.stop {
    width: 1%;
    border: 1px solid #1acb5e;
    padding: 9px 0px 7px 1px;
    border-radius: 60%;
    position: fixed;
    top: -8px;
    bottom: 60px;
    right: 100px;
    /* left: 45px; */
    background-color: #1acb5e;
    
}

.box {
    justify-content: center;
}

.one-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.path {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;

}

h1, p{
    text-align: center;
}

.FullLogBtn {
    padding-top: 70px;
}

.btn {
    padding-top: 30px;
    background-color: black;
    color: white;
    padding: 18px;
    border-radius: 6px;
    border: 0px black solid;
    font-size: 17px;
    cursor: pointer;
    border-width: 3px;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-width: 3px;
}

}